{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %} 
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            {% if impuesto %} <a> *Precios con {{ impuesto }} incluido </a> {% endif %}
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Producto</th>
                                            <th class="product-price">Precio</th>
                                            <th class="product-quantity">Cantidad</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bien in carrito %}
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="Remove this item" class="remove" href="/remove_from_cart/?bien_id={{ bien.id }}&next_url=/pedido">×</a> 
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/catalogo/?bien_id={{ bien.id }}"><img width="145" height="145" alt="{{ bien.denominacion }}" class="shop_thumbnail" src="{{ bien.imagen }}"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="/catalogo/?bien_id={{ bien.id }}">{{ bien.denominacion }}</a> 
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount">{{ bien.costo }}</span> 
                                                </td>

                                                <td class="product-quantity">
                                                    <span class="amount">{{ bien.cantidad }}</span> 
                                                </td>

                                                <!-- <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td> -->

                                                <td class="product-subtotal">
                                                    <span class="amount">{{ bien.subtotal }}</span> 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <div class="coupon">
                                                    <label for="coupon_code">Coupon:</label>
                                                    <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                                                </div>
                                                <input type="submit" value="Update Cart" name="update_cart" class="button">
                                                <input type="submit" value="Proceed to Checkout" name="proceed" class="checkout-button button alt wc-forward">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Cart Totals</h2>

                                    <table cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">{{ pedido.get_precio_total }}</span></td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Shipping and Handling</th>
                                                <td>Free Shipping</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">{{ pedido.get_precio_total }}</span></strong> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}