<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div>

        {% if impuesto %} <a> *Precios con {{ impuesto }} incluido </a> {% endif %}
        <table BORDER=4 BORDERCOLOR=RED>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Codigo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito.pedidoybien_set.all %}
                <tr>
                    <td>
                        <a href="{{ domain }}/catalogo/?bien_id={{ item.bien.sign_id }}">{{ item.bien.denominacion }}</a>
                    </td>
                    <td>
                        <span>{{ item.bien.codigo }}</span>
                    </td>
                    <td>
                        <span>{{ item.precio }}</span>
                    </td>

                    <td>
                        <span>{{ item.cantidad_solicitada }}</span>
                    </td>

                    <td>
                        <span>{{ item.subtotal }}</span>
                    </td>
                </tr>
                {% endfor %}
                 <tr>
                    <td colspan="5" align="right"> Total Pedido: <strong> ${{ carrito.get_precio_total }} </strong> </td>
                </tr>
               
            </tbody>
        </table>


    </div>

</body>

</html>