{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block body %} 
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{% trans "Mi pedido" %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            {% if impuesto %} <a> {% blocktrans %} *Precio con {{ impuesto }} incluido {% endblocktrans %}</a> {% endif %}
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">{% trans "Producto" %}</th>
                                            <th class="product-name">{% trans "Codigo" %}</th>
                                            <th class="product-price">{% trans "Precio" %}</th>
                                            <th class="product-quantity">{% trans "Cantidad" %}</th>
                                            <th class="product-subtotal">{% trans "Total" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bien in carrito %}
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="Remove this item" class="remove" href="/remove_from_cart/?bien_id={{ bien.id }}&next_url=/pedido">×</a> 
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/catalogo/?bien_id={{ bien.id }}"><img width="145" height="145" alt="{{ bien.denominacion }}" class="shop_thumbnail" src="{{ bien.imagen }}"></a>
                                                </td>
                                              
                                                <td class="product-name">
                                                    <a href="/catalogo/?bien_id={{ bien.id }}">{{ bien.denominacion }}</a> 
                                                </td>
                                                <td class="product-price">
                                                    <span class="amount">{{ bien.codigo }}</span> 
                                                </td>
                                                <td class="product-price">
                                                    <span class="amount">{{ bien.costo }}</span> 
                                                </td>

                                                <td class="product-quantity">
                                                    <span class="amount">{{ bien.cantidad }}</span> 
                                                </td>

                                                <!-- <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td> -->

                                                <td class="product-subtotal">
                                                    <span class="amount">{{ bien.subtotal }}</span> 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="actions" colspan="7">
                                                <a class="add_to_cart_button" href="/checkout" style="float: right"> {% trans "Confirmar pedido" %} </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>{% trans "Totales" %}</h2>

                                    <table cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>{% trans "Subtotal" %}</th>
                                                <td><span class="amount">{{ pedido.get_precio_total }}</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>{% trans "Total" %}</th>
                                                <td><strong><span class="amount">{{ pedido.get_precio_total }}</span></strong> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}