{% load static from staticfiles %}

<html lang="en-us">

<head>
    <title>Impresión de lista | nebula</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}" />
    {% endblock %} 

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name">nebula</h1>
            </div>
        </div>
       
        {% block content %}
        <div id="content-main">
            {% regroup lista|dictsort:"clasificador.denominacion" by clasificador as lista_sorted %} 
            {% for bienes in lista_sorted %}
                <h3>{{ bienes.grouper }}</h3>
                <ul>
                    {% for bien in bienes.list|dictsort:"denominacion" %}
                        <li>{{ bien.denominacion }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% endblock %}

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
    </div>
    <!-- END Container -->

</body>

</html>


